.area {
    display: flex;
    flex-direction: column;
    margin: 2.4rem 0rem;
    flex: 0.35;
    float: right;
}

.place {
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 1rem;
}

.details {
    color: rgba(50, 50, 50, 0.66);
    font-size: 1.3rem;
    margin-top: 0.75rem;
}